/* Space out content a bit */
body {
  background-color: transparent;
  padding-top: 20px;
  padding-bottom: 20px;
}

#nw {
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.active .text-primary {
  color: #FFFFFF;
}

.invalid {
  border-color: maroon !important;
  color: maroon !important;
  outline-color: maroon !important;
}

input {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
