<input mentio
  ng-model="theText"
  mentio-id="'theText'"
  type="text"
  class="form-control"
  ng-trim="false"
  size="100"/>

<mentio-menu
  mentio-for="'theText'"
  mentio-trigger-char="'#'"
  mentio-items="projects"
  mentio-template-url="/views/project-mentions.tpl"
  mentio-search="searchProjects(term)"
  mentio-select="getProjectTextRaw(item)"></mentio-menu>

<mentio-menu
  mentio-for="'theText'"
  mentio-trigger-char="'@'"
  mentio-items="people"
  mentio-template-url="views/people-mentions.tpl"
  mentio-search="searchPeople(term)"
  mentio-select="getPeopleTextRaw(item)"></mentio-menu>

<mentio-menu
  mentio-for="'theText'"
  mentio-trigger-char="'+'"
  mentio-items="minutes"
  mentio-template-url="views/minute-mentions.tpl"
  mentio-search="searchMinutes(term)"
  mentio-select="getMinuteTextRaw(item)"></mentio-menu>
