<input mentio
  ng-model="theText"
  mentio-id="'theText'"
  type="text"
  class="form-control"
  ng-trim="false"
  size="100"
  ng-keyup="checkEntry(theText, $event)"
  ng-class="{invalid: !valid}"
  autofocus
  />

<mentio-menu
  mentio-for="'theText'"
  mentio-trigger-char="'#'"
  mentio-items="projects"
  mentio-template-url="/views/project-mentions.html"
  mentio-search="searchProjects(term)"
  mentio-select="getProjectTextRaw(item)"></mentio-menu>

<mentio-menu
  mentio-for="'theText'"
  mentio-trigger-char="'@'"
  mentio-items="people"
  mentio-template-url="views/people-mentions.html"
  mentio-search="searchPeople(term)"
  mentio-select="getPeopleTextRaw(item)"></mentio-menu>

<mentio-menu
  mentio-for="'theText'"
  mentio-trigger-char="'+'"
  mentio-items="minutes"
  mentio-template-url="views/minute-mentions.html"
  mentio-search="searchMinutes(term)"
  mentio-select="getMinuteTextRaw(item)"></mentio-menu>

<div class="message" ng-class="{invalid: !valid}">{{message}}</div>

<br />

<ul class="list-group">
  <entry ng-repeat="entry in entries" />
</ul>
